:root{
    --clr-primary-100:hsl(225, 100%, 94%);
    --clr-primary-500:hsl(245, 75%, 52%);

    --clr-sec-100: hsl(225, 100%, 98%);
    --clr-sec-200:hsl(224, 23%, 55%);
    --clr-sec-600: hsl(223, 47%, 23%);

    --fw-bold:500;
    --fw-bolder:700;
    --fw-boldest:900;
}


*{
    margin: 0;
}

*,
::before,
::after{
box-sizing: border-box;
}

.img{
    display: block;
    max-width: 100%;
}

html,
body{
    height: 100%;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-primary-100);
    color: var(--clr-sec-200);
}

.card{
    text-align: center;
    background-color: var(--clr-sec-100);
    border-radius: .765rem;
    overflow: hidden;
    margin: 2rem;
    max-width: 400px;

}

.card-text > h1 {
    color: var(--clr-sec-600);
    margin-bottom: 0;
}


.card-text > *{
    margin: .8rem;
}

.card-text > p {
     line-height: 1.5;
     padding: 1rem;
     margin-top: 0;
}

.flex-card{
display: flex;
align-items: center;
padding: 0 1.5rem ;
margin: 1.5rem .5rem;
}

.flex__group{
    margin: 0 auto;
}

.flex__group > *{
    margin: .3rem 0;
}


.a-plan{
    color: var(--clr-sec-600);
    font-weight: var(--fw-boldest);

}

#change{
    text-decoration: underline;
    color: var(--clr-primary-500);
}

.btn{
    padding: .7rem 2.5rem;
    background-color: var(--clr-primary-500);
    color: white;
    border-radius: .575rem;
    border: 0;
    font-weight:var(--fw-bolder);
    margin-bottom: 0;
}
